/*
 * Corne-5-col (36 keys) — ZMK keymap
 * Adapted from the official 3 × 6 + 3 Corne example
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        /* ─────────────────────────── COLEMAK-DH ─────────────────────────── */

        default_layer {
            bindings = <
&none  &kp Q  &kp W  &kp F  &kp P  &kp B    &kp J  &kp L  &kp U      &kp Y    &kp LCTRL  &none
&none  &kp A  &kp R  &kp S  &kp T  &kp G    &kp M  &kp N  &kp E      &kp I    &kp O      &none
&none  &kp Z  &kp X  &kp C  &kp D  &kp V    &kp K  &kp H  &kp COMMA  &kp DOT  &kp FSLH   &none
            >;
        };
    };
};
